<header class="container-fluid main_header">
  <figure>
    <img routerLink="/" class="main_logo" src="../../../assets/img/logo_home.png" alt="">
  </figure>
  <ul class="main_nav">
    <li>
      <a href="#" routerLink="/" routerLinkActive="active">Головна</a>
    </li>
    <li>
      <a href="#" routerLink="/ssa" routerLinkActive="active">Про нас</a>
    </li>
    <li>
      <a href="#" routerLink="/sadsad" routerLinkActive="active">Проекти</a>
    </li>
    <li>
      <a href="#" routerLink="/sdsa" routerLinkActive="active">Контакти</a>
    </li>
    <li>
      <button class="search_btn">Пошук квартир</button>
    </li>
  </ul>
</header>
