<header class="container-fluid main_header" #header>
  <figure>
    <img routerLink="/" class="main_logo" src="../../../assets/img/800px-Smiley.svg.png" alt="">
  </figure>
  <ul class="main_nav">
    <li>
      <a href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Головна</a>
    </li>
    <li>
      <a href="#" routerLink="/about-us" routerLinkActive="active">Про нас</a>
    </li>
    <li>
      <a href="#" routerLink="/project" routerLinkActive="active">Проекти</a>
    </li>
    <li>
      <a href="#" routerLink="/contacts" routerLinkActive="active">Контакти</a>
    </li>
    <li>
      <button class="search_btn" (click)="openForm()">Пошук квартир</button>
    </li>
  </ul>
</header>
<form #form>
  <div class="close_form" (click)="closeForm()">
    <img src="../../../assets/img/close-icon-46ac73f4.png" alt="">
  </div>
  <p class="callBack_text">Пошук квартир</p>
  <!--<div class="container_inputs1">-->
  <!--<label class="label_title1">ПЛОЩА КВАРТИРИ М2</label>-->
  <!--<label class="label_title2">ЗАГАЛЬНА ВАРТІСТЬ (ГРН.)</label>-->
  <!--<label class="label_title3">ЦІНА М2 (ГРН.)</label>-->
  <!--</div>-->
  <div class="container_inputs">
    <input class="inputG" type="text" placeholder="Площа квартири м2" #spaceIn>
    <input class="inputG" type="text" placeholder="Загальна вартість (грн.)" #priceIn>
    <input class="inputG" type="text" placeholder="Ціна м2 (грн.)" #pricePSIn>
    <label class="label label1">
      <select #countRIn>
        <option selected>Кількість кімнат</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </label>
    <label class="label">
      <select #nameHIn>
        <option selected>Проект</option>
        <option *ngFor="let one of allHouses">{{one.name}}</option>
      </select>
    </label>
  </div>
  <label class="btn_contact">
    <button (click)="search(priceIn.value,pricePSIn.value,countRIn.value,spaceIn.value,nameHIn.value)">Пошук</button>
  </label>
</form>
