<footer class="container-fluid main_footer">
  <ul>
    <li>м. Львів, вул. Героїв УПА, 72 </li><span class="slesh">/ </span>
    <li><span class="bold_a">E-mail:</span> test@gmail.com </li><span class="slesh">/ </span>
    <li><span class="bold_a">Тел:</span> (032) 247-22-22 </li><span class="slesh">/ </span>
    <li><span class="bold_a">Тел:</span> (032) 247-22-23</li>
  </ul>
  <figure>
    <img routerLink="/" class="main_logo" src="../../../assets/img/logo_home.png" alt="">
  </figure>
</footer>
