<div class="main_container">
  <div class="container_index">
    <figure>
      <img class="logo_about" src="../../../assets/img/about-icon.png" alt="">
    </figure>
    <h1>Про нас</h1>
    <span class="date_slide">Впевненість та рішучість у кожній деталі</span>
    <p class="index_text">
      Житлово-будівельна компанія «Ваш дім» – заснована та працює на ринку нерухомості з 2002 року. Напрямами діяльності
      компанії є проектування, будівництво та реалізація масштабних житлових проектів. Житлово-будівельна компанія «Ваш
      дім» працює на ринку Західної України вже понад 14 років. Ми звели понад 120 тисяч квадратних метрів житла, які
      стали затишним домом для тисяч родин. У Львові компанія відома будівництвом найвищого у Львові житлового будинку
      висотою 67 м по вул. Зубрівській. З нами професійна команда будівельників, архітекторів та проектантів, які кажуть
      “так” новим і передовим технологіям.
      <br>
      <br>
      Гарантом того, що об’єкти буде здано вчасно і якісно – є найбільший бізнес-холдинг в Західному регіоні України на
      чолі з «Концерном Галнафтогаз». Житлово-будівельна компанія «Ваш Дім» заснована у 2002 році як одна з групи
      компаній «Концерну Галнафтогаз» і є його невід’ємною частиною. «Ми завжди готові підтримати наш будівельний
      напрямок і своїм авторитетом, й економічними ресурсами, – запевняє президент «Концерну Галнафтогаз» Віталій
      Антонов. – Так уже було під час кризи 2008-2009 років, коли жодного об’єкту незавершеного будівництва «Ваш дім» по
      собі не залишив, на відміну від багатьох інших будівельних компаній. І зараз я теж готовий чітко гарантувати, що
      квартири замовникам ми здаватимемо точно за графіком».
      <br>
      <br>
      «Ваш Дім» – єдиний забудовник з Західної України, який потрапив у двадцятку найнадійніших забудовників країни.
      Згідно з всеукраїнським рейтингом журналу «Деньги» за 2014 рік, житлово-будівельна компанія «Ваш Дім» посіла 11
      місце за надійністю будівництва.
      <br>
      <br>
      Ми цінуємо свою репутацію, тому ваша довіра для нас – головне!
    </p>
  </div>
</div>
