<div class="main_container">
  <h1>Житловий масив "Пасічний"</h1>
  <div class="container_index">
    <div class="left">
      <img src="../../../assets/img/GB-502_pov-2-7_apartment-424752576267.jpg" alt="">
    </div>
    <div class="right">
      <div class="container_info">
        <span>Предпокій</span>
        <span>9.20</span>
      </div>
      <div class="container_info">
        <span>Кухня</span>
        <span>14</span>
      </div>
      <div class="container_info">
        <span>Санвузол</span>
        <span>5</span>
      </div>
      <div class="container_info">
        <span>Вітальня</span>
        <span>19</span>
      </div>
      <div class="container_info">
        <span>Спальня 1</span>
        <span>17</span>
      </div>
      <div class="container_info">
        <span>Спальня 2</span>
        <span>19.22</span>
      </div>
      <div class="container_info">
        <span>Лоджія</span>
        <span>14.22</span>
      </div>
      <div class="container_btn">
        <button (click)="openForm()">Забронювати квартиру</button>
      </div>
    </div>
  </div>
  <form #form>
    <div class="close_form" (click)="closeForm()">
      <img src="../../../assets/img/close-icon-46ac73f4.png" alt="">
    </div>
    <p class="callBack_text">Будинок 5</p>
    <label>
      <input type="text" placeholder="Ваше ім'я*">
    </label>
    <label>
      <input type="text" placeholder="Ваш E-mail">
    </label>
    <label>
      <input type="text" placeholder="Контактний тел.">
    </label>
    <label>
      <input type="text" placeholder="Поверх який цікавить">
    </label>
    <label class="text_mail">
      <textarea placeholder="Повідомлення"></textarea>
    </label>
    <label class="btn_contact">
      <button>Надіслати</button>
    </label>
  </form>
</div>
