<div class="main_container">
  <h1>{{nameH}}</h1>
  <div class="container_index" *ngIf="content">
    <img imgFileFloor [id]="flat.id" alt="" [ngStyle]="{'width':'10vw'}" (click)="toggleSize(imgS)" #imgS>
    <div class="left">
      <img imgFile [id]="flat.id" alt="">
    </div>
    <div class="right">
      <div class="container_info">
        <span>Площа:</span>
        <span>{{flat.space}}</span>
      </div>
      <div class="container_info">
        <span>Ціна:</span>
        <span>{{flat.price}}</span>
      </div>
      <div class="container_info">
        <span>Ціна за метр квадратний:</span>
        <span>{{flat.priceForOneSpace}}</span>
      </div>
      <div class="container_info">
        <span>Кількість кімнат:</span>
        <span>{{flat.countRoom}}</span>
      </div><br>
      <div >
        <span [ngStyle]="{'color':'white'}">Введіть за скільки місяців оплатити іпотеку:</span>
        <input type="number" min="12" #i1>
        <p *ngIf="result" ><span [ngStyle]="{'color':'white'}">{{result}}</span></p>
        <button (click)="calculate(i1.value)">Обчислити</button>
      </div>
    </div>
  </div>
</div>
