/* You can add global styles to this file, and also import other style files */
body {
  margin: 15px 0;
  padding: 0;
}

* {
  font-family: "Century Gothic", sans-serif!important;
  outline: none!important;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: .5vw; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
  background: #111111;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);

}

::-webkit-scrollbar-thumb {
  background: #f5d300;
}
